
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.imagem {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto; 
}

h1 {
  text-align: center;
}
