/* Adicione este CSS ao seu arquivo de estilo (entidade-list.component.css ou global.css) */

.search-bar-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 60%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc; /* Adiciona uma borda */
  border-radius: 20px; /* Adiciona cantos arredondados */
  background-color: #f2f2f2; /* Cor de fundo */
  outline: none; /* Remove o contorno ao clicar */
}

/* Efeito de transição suave ao focar */
.search-bar:focus {
  border-color: #4CAF50; /* Cor da borda ao focar */
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.1); /* Sombra ao focar */
}

.entidade-grid-container {
  display: flex;
  justify-content: center;
}

.entidade-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Grade responsiva */
  gap: 20px;
}

.entidade-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.entidade-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.entidade-details {
  padding: 20px;
}

.entidade-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.entidade-description,
.entidade-distrito {
  margin-bottom: 10px;
}

.entidade-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); /* Define 3 colunas com largura mínima de 200px */
  grid-gap: 20px; /* Espaçamento entre as colunas */
  justify-content: center; /* Centraliza o grid na página */
}